* {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	text-decoration: none;
	font-size: 14px;
}
body {
	background-color: #12122D;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
  
@font-face {
	font-family: Round;
	src: url(../fonts/VarelaRound-Regular.ttf);
}
.main {
	font-family: Round;
	margin: 2vw 0px;
	.header {
		-webkit-box-align: center;
      	-ms-flex-align: center;
        align-items: center;
  		display: -webkit-box;
  		display: -ms-flexbox;
  		display: flex;
		font-size: 1.6vw;
		margin:0px 10px;
		.image {
			width: calc(25px + 4.8vw);
			padding: 6.5px;
			max-width: 100%;
			background-color: #fff;
			border: 1.5px solid #fff;
			border-radius: 50%;
		}
		.title {
			color: #fff;
			font-size: calc(16px + 3vw);
			font-weight: 600;
			margin-right: auto;
  			margin-left: auto;
		}
		.share {
			background-color:rgba(0, 255, 255, 0.856);
			color:#fff;
			padding: 5px;
			border-radius:55px;
			border: 2px solid rgba(0, 255, 255, 0.856);
			width:calc(30px + 4vw);
			height:calc(30px + 4vw);
		}
	}
}
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	background-color: #fff;
	border-radius: 0.25rem;
	margin: 18px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	text-decoration: none;
	height: 200px;
	overflow: hidden;
}
.card-footer {
	padding: 0.5rem 1rem;
	width: 300%;
	text-align: center;
	color: #000;
	font-family: Round;
	z-index: 2;
	font-size: 0px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotate(-45deg);
	background-color: rgba(0, 255, 255, 0.856);
	font-size: calc(20px + 5%);
	
}
.card:hover > .card-footer {
	transform: rotate(0deg);
	height: 300%;
	background-color: rgba(0, 255, 255, 0.856);
	font-size: calc(50px + 5%);
	color: rgba(14, 15, 15, 0.997);
}
.card img {
	width: 100%;
	position: absolute;

}
@media only screen and (max-width:400px) {
	.card{
		margin:10px 0px;
	}
}