* {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	line-height: 1.8vw;
	text-decoration: none; 
}
body {
	background-color: #12122D;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	height: 100vh;
  }
  
@font-face {
	font-family: Round;
	src: url(../fonts/VarelaRound-Regular.ttf);
}
.main {
	margin-top: 2vw;
	width: 100vw;
	max-width: 95%;
	font-family: Round;
	.header {
		-webkit-box-align: center;
      	-ms-flex-align: center;
        align-items: center;
  		display: -webkit-box;
  		display: -ms-flexbox;
  		display: flex;
		font-size: 1.6vw;
		margin:0px 10px;
		.image {
			width: 6.5vw;
			padding: 6.5px;
			background-color: #fff;
			border: 1.5px solid #fff;
			border-radius: 50%;
		}
		.title {
			color: #fff;
			font-size: 3.5vw;
			font-weight: 600;
			margin-right: auto;
  			margin-left: auto;
		}
		.share {
			background-color:rgba(0, 255, 255, 0.856);
			color:#fff;
			padding: 5px 20px;
			border: none;
			border-radius:55px;
			border: 2px solid rgba(0, 255, 255, 0.856);
		}
		.share:hover {
			background-color: #12122D;
			color:rgba(0, 255, 255, 0.856);
		}
	}
	.body {
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		.row {
			display: flex;
			flex-wrap: wrap;
			margin-top: 2.5rem;
			margin-right: 0.5rem;
			margin-left: 0.5rem;
			padding-right: 3rem;
			padding-left: 3rem;
		  }
		.row-cols > * {
			flex: 0 0 auto;
			width: 33.33333333%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	width:25vw;
	max-width: 100%;
	background-color: #fff;
	border-radius: 0.25rem;
	margin: 18px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: gray;
	text-decoration: none;
	.card-footer {
		padding: 0.3rem 1rem;
		background-color: rgba(157, 157, 157, 0.558);
		font-size: 1.2vw;
		width: 100%;
		text-align: center;
		color: #6c757d;
		font-family: Round;
	}
	.card-footer:last-child {
		border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
	}
	
  
}
img {
	width: 20vw;
	max-width: 100%;
}
@media only screen and (max-width:380px) {
	.main {
		.body {
			.row-cols > * {
				flex: 0 0 auto;
				width: 50%;
			}
		}
	}
	.card{
		margin:10px 0px;
	}
}